# files and directories that must not be included in the dist archive

.git*             export-ignore
/Makefile         export-ignore
devel             export-ignore
docs              export-ignore
slicot-reference  export-ignore
