# temp files from tex or compilation

*.dvi
*.pdf
*.aux
*.log
*.cp
*.fn
*.toc
*.a
*.o
*.octave*.octlink
*.tar.gz
*.orig

# temp file from configure and make

src/slicot/src 
*~
aclocal.m4
configure
autom4te.cache
Makefile.conf
oct-alt-includes.h
config.*
*.oct

# temp info and doc files

doc/functions.texi
doc/version.texi
doc/*.qch
doc/*.qhc
doc/*.pdf

# temp directories

/assets
/src/slicot_src/*.f
/target

# release checklists

devel/release/release_*.md

# Emacs tools create these
TAGS$
semantic.cache
# Other text editors often create these
~.*

