# temp files from tex or compilation

*.dvi
*.aux
*.log
*.cp
*.cps
*.fn
*.fns
*.toc
*.a
*.o
*.octave*.octlink
*.tar.gz
*.orig

# temp file from configure and make

src/slicot/src
*~
aclocal.m4
configure
autom4te.cache
Makefile.conf
oct-alt-includes.h
config.*
*.oct

# temp info and doc files

devel/doc/functions.texi
devel/doc/version.texi
devel/doc/control.qch
devel/doc/control.qhc
devel/doc/control.pdf
doc/control.qch
doc/control.pdf

# temp directories

/assets
/src/slicot_src/*.f
/target

# release checklists

devel/release/release_*.md

# Emacs tools create these
TAGS$
semantic.cache
# Other text editors often create these
~.*

